.cardNfo {
    font-size: 11px;
}

.cardNfo i {
    margin-right: 5px;
}

.teamName {
    margin-right: 7px;
    background: #d1d1d1;
    color:#fff;
    padding:2px 5px;
}

.date {
    color:#2196f3;
}
