.featured_item {
	position: relative;
}

.featured_item a {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-decoration: none;
	right: 0;
}

.featured_image {
	height: 330px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.featured_caption {
	color: #ffffff;
	top: 0;
	width: 100%;
	padding: 20px;
	font-weight: 300;
	font-size: 28px;
	box-sizing: border-box;
}